*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    margin-inline: auto;
}

.nav{
    width: 1000px;
    height: 50px;
    background-color: gold;
    margin: 1rem;
    margin-inline: auto;
}

main{
    margin-inline: auto;
}


.blu{
    background-color: blue;
    margin-inline: auto;
}

.rosa{
    margin: 1rem;
    width: 80%;
    height: 250px;
    background-color: palevioletred;
}

.bianco{
    background-color: white;
}

.contenitore{
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    margin-inline: auto;
}

.azzurro{
    background-color: cornflowerblue;
    height: 380px;
    width: 60%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.fucsia{
    background-color: fuchsia;
    height: 380px;
    width: 40%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.grigio{
    background-color: grey;
}

.verde{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: green;
    width: 100%;
    height: 600px;
}

footer{
    background-color: black;
    margin-inline: auto;
}


.colonna{
    height: 500px;
}

.uno{
    background-color: salmon;
    width: 400px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.due{
    background-color: aquamarine;
    width: 150px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
} 

hr{
    border: 1px solid red;
}